  .skills {
      left: 0;
      top: 50px;
      width: 300px;
      padding: 20px;
      height: 100%;
      padding: 20px;
      border: 1px grey solid;
  }
  
  .section-container-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .column {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-items: center;
      text-align: center;
  }
  
  .column img {
    height: 250px;
    width: 250px;
    transition: 0.3s ease-in;
  }

  .column img:hover {
      cursor: pointer;
      transform: scale(1.01) translateY(-5px);
  }
  
  .column-text h6 {
    margin: 0;
    color: yellow;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  @media (max-width: 768px) {
    .skills {
      width: 100%; 
      padding: 10px;
      top: 0;
    }

    .column {
        justify-items: start;
    }
  
    .column img {
      height: 150px;
      width: 150px;
    }
  
    .column-text h6 {
      font-size: 14px; 
    }
  }
  
  @media (max-width: 480px) {
      .column {
          justify-items: start;
      }

    .column img {
      height: 100px; 
      width: 100px;
    }
  
    .column-text h6 {
      font-size: 12px;
    }
  }